.title{
    font-family: "Poppins", sans-serif;
    text-align: center;
    margin-top: 20px;
    font-size:220%;
}
.intro{
    text-align: center;
    padding:10px;
    font-family: "Poppins", sans-serif;

}
.menu{
    display: flex;
    justify-content: start;
    font-family: "Poppins", sans-serif;
}
.item{
    display: block;
    margin: 0 10px;
    font-family: "Poppins", sans-serif;
}
.submenu{
    display: grid;
    text-align: center;
    font-family: "Poppins", sans-serif;
}
.menu-right{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-family: "Poppins", sans-serif;
}
.productos {
    text-align: center;
    display: flex;
    justify-content: space-between;
    width: 100%; 
    font-family: "Poppins", sans-serif;
    
}
.card{
    display: inline-block;
    margin: 2%;
    margin-left: 30px;
    text-align: center;
    width: 20%;
    height: 100%;
    font-family: "Poppins", sans-serif;

}
.img-1{
    padding: 0px;
    border-radius: 5px;
    max-width: 100%;
    height: auto;
    font-family: "Poppins", sans-serif;
}
.descuento{
    text-align: center;
    font-family: "Poppins", sans-serif;
    font-size: .8rem;
}
.linea{
width: 34%;
font-family: "Poppins", sans-serif;
margin-bottom:5%;

}
.linea-1{
    border: 0;
    font-family: "Poppins", sans-serif;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}
.contacto{
    text-align: center;
    font-family: "Poppins", sans-serif;
}
.redes{
    display: inline-block;
    font-family: "Poppins", sans-serif;
}
.flex-content{
    display:flex;
    justify-content: space-between;
    width: 100%;
    font-family: "Poppins", sans-serif; 

}
.guia{
    text-align: start;
    font-family: "Poppins", sans-serif;
}
.footer{
    display:flex;
    justify-content: space-between;
    width: 100%;
    font-family: "Poppins", sans-serif; 
}
.contenido{
    text-align: center;
    font-family: "Poppins", sans-serif;
}